<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page - Rotary Club of Nagpur - Rotary India
  </title>
  <link rel="icon" type="image/svg+xml" sizes="21x21" href="./assets/Pngs/apple-icon-114x114.png" />
  <script src="https://kit.fontawesome.com/686e939eb9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>

<body>
  <div class="container-fluid ">
    <div class="row d-flex justify-content-center align-items-center header-height">
      <div class=" col-12 col-md-11 col-lg-11 col-xl-11 d-flex justify-content-center divisions align-items-center">
        <div class="d-flex justify-content-around align-items-center">
          <div class="mt-2 ">
            <a class="navbar-brand d-flex main-logo" href="#"> <img src="./assets/logos/Rotary_logo.png" alt=""
                width="150">
            </a>
          </div>
        </div>
        <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand-lg navbar-light  ">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavLight"
            aria-controls="navbarNavLight" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse " id="navbarNavLight">
            <ul class="navbar-nav mt-3 fw-bold d-flex align-items-center">


              <li class="nav-item ">
                <a class="nav-link " href="#">Home </a>

              </li>

              <li class="nav-item ">
                <a class="nav-link" href="#">About Us </a>

              </li>

              <li class="nav-item ">
                <a class="nav-link " href="#">Governing Board </a>

              </li>


              <li class="nav-item ">
                <a class="nav-link  " href="" aria-expanded="false">
                  Members
                </a>
              </li>


              <li class="nav-item   dropdown">
                <a class="nav-link   listItemsStyle  " href="#" id="navbarDropdown" role="button" aria-expanded="false">
                  Projects
                </a>
                <ul class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown ">
                  <li><a class="dropdown-item " href="">Upcoming Projects</a></li>
                  <li><a class="dropdown-item " href="">Completed Projects</a></li>


                </ul>
              </li>

              <!-- <li class="nav-item">
                        <a class="nav-link  " href="#" >Projects</a>
                    </li> -->
              <li class="nav-item">
                <a class="nav-link  " href="#"> Photo Gallery</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link  " href="#"> Article</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="#"> Contact Us</a>

              </li>

            </ul>
          </div>


        </nav>
        <div class="">
          <div class="d-flex">
            <div class="nav-item  ">
              <button class="loginbtn">LogIn</button>

            </div>
            <div class="nav-item mx-3">
              <button class="registerbtn">Register</button>
            </div>
          </div>

        </div>
        <!-- <div class="sidenav">
                <a class="" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"
                  data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                  <mat-icon id="toggleIcon">menu</mat-icon>
                </a>
                <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                  aria-labelledby="offcanvasWithBothOptionsLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title " style="align-items: center;
                    padding: 25px;
                    border: none;
                    font-size:1.3em;
                    font-weight: 600;
                    color: var(--primary-t-color);
                    border-radius: 0" id="offcanvasWithBothOptionsLabel">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body ">
                    <ul class="navbar-nav ">
                      <li class="nav-item dropdown">
                        <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" routerLink="/course-page">
                          Course
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink"
                          style="box-shadow:0px 0px 15px 0px rgb(0 0 0 / 10%);border:none !important; z-index:1;">
                          <li class="dropdown-submenu"><a class="dropdown-item" href="#">For Surgeons & Physicians &rang;</a>
                            <ul class="dropdown-menu">
                              <li><a href="" class="dropdown-item"></a></li>
                              <li><a href="" class="dropdown-item">the botox course</a></li>
                              <li><a href="" class="dropdown-item">the filler course</a></li>
                              <li><a href="" class="dropdown-item">the microneedling/PRP course</a></li>
                              <li><a href="" class="dropdown-item">the sculptra course</a></li>
                              <li><a href="" class="dropdown-item">the expert course</a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu"><a class="dropdown-item " href="#">For Nurses &rang;</a>
                            <ul class="dropdown-menu">
                              <li><a href="" class="dropdown-item">the botox & filler course</a></li>
                              <li><a href="" class="dropdown-item">the botox course</a></li>
                              <li><a href="" class="dropdown-item">the filler course</a></li>
                              <li><a href="" class="dropdown-item">the microneedling/PRP course</a></li>
                              <li><a href="" class="dropdown-item">the sculptra course</a></li>
                              <li><a href="" class="dropdown-item">the expert course</a></li>
            
                            </ul>
                          </li>
                          <li class="dropdown-submenu"><a class="dropdown-item " href="#">For Aestheticians &rang;</a>
                            <ul class="dropdown-menu" style="right:-15rem">
                              <li><a href="" class="dropdown-item">the microneedling course</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
            
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toogle  " data-bs-target="dropdown" href="#"
                          routerLink="/treatment-page2">Treatments</a>
                        <ul class="dropdown-menu shadow">
                          <li><a class="dropdown-item" *ngFor="let Treatment of TreatmentData"
                              (click)="goToDetails(Treatment)">{{Treatment!.treatmentName}}</a></li>
                        </ul>
                      </li>
            
            
                      <li class="nav-item dropdown">
                        <a class="nav-link  " href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" routerLink="/location">
                          Locations
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                          <li class="dropdown-submenu"><a class="dropdown-item " href="#">Alberta &rang;</a>
                            <ul class="dropdown-menu" style="right:-10.3rem">
                              <li><a href="" class="dropdown-item">Calgary</a></li>
                              <li><a href="" class="dropdown-item">Edmonton</a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu"><a class="dropdown-item " href="#">British Columbia &rang;</a>
                            <ul class="dropdown-menu" style="right:-10.3rem">
                              <li><a href="" class="dropdown-item">Vancouver</a></li>
                              <li><a href="" class="dropdown-item">Victoria</a></li>
                              <li><a href="" class="dropdown-item">Kelowna</a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu"><a class="dropdown-item " href="#">Ontario &rang;</a>
                            <ul class="dropdown-menu" style="right:-10.3rem">
                              <li><a href="" class="dropdown-item">Ottawa</a></li>
                              <li><a href="" class="dropdown-item">Toronto</a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu"><a class="dropdown-item " href="#">Saskatchewan &rang;</a>
                            <ul class="dropdown-menu" style="right:-10.3rem">
                              <li><a href="" class="dropdown-item">Regina</a></li>
                              <li><a href="" class="dropdown-item">Saskatoon</a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu"><a class="dropdown-item " href="#">Halifax</a></li>
                          <li class="dropdown-submenu"><a class="dropdown-item " href="#">St. John's</a></li>
                          <li class="dropdown-submenu"><a class="dropdown-item " href="#">Montreal</a></li>
                          <li class="dropdown-submenu"><a class="dropdown-item " href="#">Winnipeg</a></li>
                          <li class="dropdown-submenu"><a class="dropdown-item " href="#">Whitehorse</a></li>
            
                        </ul>
                      </li>
            
            
            
                      <li class="nav-item">
                        <a class="nav-link  " href="#" routerLink="/aboutus" data-bs-dismiss="offcanvas">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link  " href="#" routerLink="/fellowship" data-bs-dismiss="offcanvas">Fellowship</a>
                      </li>
                      <li class="nav-item ">
                        <a class="  " href="#" routerLink="/signup"> <button mat-stroked-button width="100%" class=""
                            data-bs-dismiss="offcanvas">Sign Up</button></a>
            
                      </li>
                      <li class="nav-item m-0 p-0">
                        <a class=" " href="#" routerLink="/login"><button mat-stroked-button width="100%" class=""
                            data-bs-dismiss="offcanvas">Log In</button></a>
            
                      </li>
                      <li class="nav-item ">
                        <button mat-stroked-button (click)="logout()" *ngIf="loggedin()" color="" class="mx-3 border">Log
                          Out</button>
                      </li>
                    </ul>
                  </div>
            
                </div>
              </div> -->
      </div>
    </div>
  </div>


  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img
          src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://images.unsplash.com/photo-1677468730211-4e9b65194fa8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://images.unsplash.com/photo-1677247191557-4abd28b7c387?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <div class="container-fluid py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-10 col-lg-10 col-xl-10">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
            <div class="d-flex align-items-center justify-content-center ">
              <i class="fa-solid fa-calendar mx-3 fs-2"></i>
              <p class="sectionTwoLabels m-0 p-0">Years <span class=" m-0 p-0  fs-6 fw-lighter">2022-2023</span>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
            <div class="vr"></div>
          </div>
          <div class="col-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
            <div class="d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-hand-holding-heart mx-3  fs-2"></i>
              <p class=" m-0 p-0  sectionTwoLabels">Projects
                <span class=" m-0 p-0  fs-6 fw-lighter">44</span>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
            <div class="vr"></div>
          </div>
          <div class="col-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
            <div class="d-flex  align-items-center justify-content-center">
              <i class="fa-solid fa-person mx-3  fs-2"></i>
              <p class="sectionTwoLabels m-0 p-0">Beneficiaries <span class=" m-0 p-0  fs-6 fw-lighter"> 13,408</span>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
            <div class="vr"></div>
          </div>
          <div class="col-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
            <div class="d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-indian-rupee-sign mx-3 fs-2"></i>
              <p class="sectionTwoLabels m-0 p-0">Cost <span class=" m-0 p-0  fs-6 fw-lighter"> 90,44,500</span></p>
            </div>

          </div>
          <div class="col-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
            <div class="vr"></div>
          </div>
          <div class="col-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
            <div class="d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-clock mx-3 fs-2"></i>
              <p class="sectionTwoLabels m-0 p-0">Man Hours <span class=" m-0 p-0  fs-6 fw-lighter"> 5,153</span> </p>
            </div>
          </div>
          <div class="col-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
            <div class="vr"></div>
          </div>
          <div class="col-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
            <div class="d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-users mx-3 fs-2"></i>
              <p class="sectionTwoLabels m-0 p-0">Members <span class=" m-0 p-0  fs-6 fw-lighter">258</span></p>
            </div>
          </div>
          <div class="col-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center"
            style="display: none !important;">

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Card Slider -->

  <div class="slide-container swiper">
    <h2 class="featuredProjects">Featured Projects</h2>
    <div class="slide-content">
      <div class="card-wrapper swiper-wrapper">
        <div class="card swiper-slide">
          <div class="image-container">
            <img
              src="https://plus.unsplash.com/premium_photo-1670965292487-5200ad7a2f35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D">
          </div>
          <div class="info">
            <h3>Project Name</h3>
            <button>
              Learn More
            </button>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-container">
            <img
              src="https://plus.unsplash.com/premium_photo-1670965292487-5200ad7a2f35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D">
          </div>
          <div class="info">
            <h3>Project Name</h3>
            <button>
              Learn More
            </button>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-container">
            <img
              src="https://plus.unsplash.com/premium_photo-1670965292487-5200ad7a2f35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D">
          </div>
          <div class="info">
            <h3>Project Name</h3>
            <button>
              Learn More
            </button>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-container">
            <img
              src="https://plus.unsplash.com/premium_photo-1670965292487-5200ad7a2f35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D">
          </div>
          <div class="info">
            <h3>Project Name</h3>
            <button>
              Learn More
            </button>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-container">
            <img
              src="https://plus.unsplash.com/premium_photo-1670965292487-5200ad7a2f35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D">
          </div>
          <div class="info">
            <h3>Project Name</h3>
            <button>
              Learn More
            </button>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-container">
            <img
              src="https://plus.unsplash.com/premium_photo-1670965292487-5200ad7a2f35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D">
          </div>
          <div class="info">
            <h3>Project Name</h3>
            <button>
              Learn More
            </button>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-container">
            <img
              src="https://plus.unsplash.com/premium_photo-1670965292487-5200ad7a2f35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D">
          </div>
          <div class="info">
            <h3>Project Name</h3>
            <button>
              Learn More
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="container-fluid pb-5">
    <div class="row d-flex justify-content-center">
      <p class="fw-bold fs-3 text-center">Board Members</p>
      <div class="col-12 col-md-11 col-lg-11 col-xl-11">
        <div class="row d-flex justify-content-center ">


          <div class="col-12 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center ">
            <div class="Members-card">
              <div class="boardMemberImg">
                <img src="./assets/Pngs/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg" class="" alt="...">

              </div>
              <div class="d-flex justify-content-between align-items-center p-3">
                <div class="d-grid">
                  <p class="m-0 p-0 boardMemberFirstName">First Last </p>
                  <p class="m-0 p-0">Designation </p>
                </div>
                <div class="">
                  <a href="#" class="knowmorebtn">KNOW MORE</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center">
            <div class="Members-card">
              <div class="boardMemberImg">
                <img src="./assets/Pngs/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg" class="" alt="...">

              </div>
              <div class="d-flex justify-content-between align-items-center p-3">
                <div class="d-grid">
                  <p class="m-0 p-0 boardMemberFirstName">First Last </p>
                  <p class="m-0 p-0">Designation </p>
                </div>
                <div class="">
                  <a href="#" class="knowmorebtn">KNOW MORE</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center">
            <div class="Members-card">
              <div class="boardMemberImg">
                <img src="./assets/Pngs/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg" class="" alt="...">

              </div>
              <div class="d-flex justify-content-between align-items-center p-3">
                <div class="d-grid">
                  <p class="m-0 p-0 boardMemberFirstName">First Last </p>
                  <p class="m-0 p-0">Designation </p>
                </div>
                <div class="">
                  <a href="#" class="knowmorebtn">KNOW MORE</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center">
            <div class="Members-card">
              <div class="boardMemberImg">
                <img src="./assets/Pngs/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg" class="" alt="...">

              </div>
              <div class="d-flex justify-content-between align-items-center p-3">
                <div class="d-grid">
                  <p class="m-0 p-0 boardMemberFirstName">First Last </p>
                  <p class="m-0 p-0">Designation </p>
                </div>
                <div class="">
                  <a href="#" class="knowmorebtn">KNOW MORE</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid py-5" style="background-color: #e8e8e8;">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-7 col-lg-7 col-xl-7">
        <div class=" d-flex justify-content-between align-items-center">
          <div class="">
            <p class="fs-2 fw-bold">Photo Gallery</p>
          </div>
          <div class="d-flex ">
            <div class="">
              <p class="selectyeartext">Select Year:</p>
            </div>
            <div class="mx-3"><select class="applybtn" id="ddlYears"></select></div>
            <div class="">
              <button class="applybtn">Apply</button>
            </div>

          </div>
        </div>

      </div>
      <div class="">
        <hr style="opacity: 1; margin-bottom: 3em;">
      </div>



      <div class="col-12 col-md-11 col-lg-11 col-xl-11">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-0 p-0">
            <div class="">
              <img
                src="https://images.unsplash.com/photo-1674147964836-938232c5b41a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="" class="photogalleryimg">
            </div>

          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-0 p-0">
            <div class="">
              <img
                src="https://images.unsplash.com/photo-1674147964836-938232c5b41a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="" class="photogalleryimg">
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-0 p-0">
            <div class="">
              <img
                src="https://images.unsplash.com/photo-1674147964836-938232c5b41a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="" class="photogalleryimg">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-0 p-0">
            <div class="">
              <img
                src="https://images.unsplash.com/photo-1674147964836-938232c5b41a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="" class="photogalleryimg">
            </div>

          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-0 p-0">
            <div class="">
              <img
                src="https://images.unsplash.com/photo-1674147964836-938232c5b41a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="" class="photogalleryimg">
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-0 p-0">
            <div class="">
              <img
                src="https://images.unsplash.com/photo-1674147964836-938232c5b41a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="" class="photogalleryimg">
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <footer>
    <section class="footer-container flex">
      <div class="footer-left">
        <img src="./assets/logos/Rotary_logo.png" alt="Rotary Logo">
        <div class="social-icons"></div>
      </div>
      <div class="footer-right">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="https://www.rotary.org/en">Rotary.org</a></li>
          <li><a href="https://rotaryindia.org">Rotary India </a></li>
          <li><a href="https://www.rotary.org/en/our-programs/more-fellowships">Rotary Felllowship </a></li>
          <li><a href="https://my.rotary.org/en/member-center/rotary-global-rewards/offers?#/offers/featured">Global
              Rewards </a></li>
          <li><a href="https://blog.rotary.org/">rotary Blog </a></li>
        </ul>
      </div>
    </section>
  </footer>



  <script type="module" src="./js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script type="text/javascript">
    window.onload = function () {
      //Reference the DropDownList.
      var ddlYears = document.getElementById("ddlYears");

      //Determine the Current Year.
      var currentYear = (new Date()).getFullYear();

      //Loop and add the Year values to DropDownList.
      for (var i = 2000; i <= currentYear; i++) {
        var option = document.createElement("OPTION");
        option.innerHTML = i;
        option.value = i;
        ddlYears.appendChild(option);
      }
    };
  </script>
  <script type="module">

    var swiper = new Swiper(".slide-content", {
      slidesPerView: 3,
      spaceBetween: 20,
      loop: true,
      centerSlide: 'true',
      fade: 'true',
      grabCursor: 'true',
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
        dynamicBullets: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        520: {
          slidesPerView: 2,
        },
        950: {
          slidesPerView: 3,
        },
      },
    });

  </script>



</body>

</html>